<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Dog</title>
  </head>
  <body>
    <h1>Edit <%=dog.name%> information</h1>
    <form action="/dogs/<%=dog._id%>" method="post">
      <label>Name: <input type="text" name="name" value="<%=dog.name%>"></label>
      <label>Breed: <input type="text" name="breed" value="<%=dog.breed%>"></label>
      <label>Age: <input type="text" name="age" value="<%=dog.age%>"></label>
      <input type="submit" value="Submit">
    </form>
    <a href="/">Go Back</a>
  </body>
</html>
